extends ../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    div(class='breadcrumb')
    h1 Додати новий вантаж
    form(id='shop-add-form' name='shop-add-form' class='form-inline' action='/addNewCargo' method="POST")
        div(class='form-group')
            div(class='col-md-3')
                label(for='cod') Код
            div(class='col-md-9')
                input(id='cod' name='cod' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-3')
                label(for='name') Назва
            div(class='col-md-9')
                input(id='name' name='name' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-3')
                label(for='mass') Маса
            div(class='col-md-9')
                input(id='mass' name='mass' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' class='btn btn-primary') Додати
        p=success
        br
    div(class='breadcrumb')
    h1  Редагувати вантаж в колекції
    div(class='form-group')
    form(method='POST' action='/editCargo' )
        label(for='OurPlanets') Наш вантаж для редагування
        select#OurPlanets(name = 'index')
            each val, index in data
                option= index + '. Код:' + val.cod + '. Назва:' + val.name + '. Маса:' + val.mass
        div.form-inline
            div.form-inline
                div(class='col-md-1')
                    label(for='NewName') Нова назва
                div(class='col-md-3')
                    input#NewName.form-control(type='text', placeholder='Назва' name='name')
            div(class='col-md-1')
                label(for='NewMass') Нова маса
            div(class='col-md-4')
                input#NewMass.form-control(type='mass', placeholder='Маса' name='mass')
            div(class='col-md-2')
                button.btn.btn-primary(type='submit') Редагувати
        p= newText
        br
        br

    div(class='breadcrumb')
    h1 Видалити вантаж з колекції
    div.form-inline
    form(method='POST' action='/deleteCargo' class='form-inline')
        label(for='OurCargo') Наш вантаж для видалення:
        select#OurCargo(name = 'index')
            each val, index in data
                option= index + '. Код:' + val.cod + '. Назва:' + val.name + '. Маса:' + val.mass
        button.btn.btn-primary(type='submit') Видалити
        p= deleteText
        br

    div(class='breadcrumb')
    h1  Пошук одного вантажу в колекції
    div.form-inline
    form(method='POST' action='/findCargo' class='form-inline')
        label(for='NewFindCod') Код
        input#NewFindCod.form-control(type='text', placeholder='Код' name='cod')
        button.btn.btn-primary(type='submit') Знайти вантаж
        p= FindText
        br




block append scripts
    script(src='/static/js/models/shop.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/shop.js')

